name: Nix Flake ❄️
on:
 workflow_dispatch:
 push:
# no need for periodic rebuilds since nix is already reproducible

jobs:
 build:
  permissions:
   contents: read
   packages: write
   actions: write
  strategy:
   matrix:
    os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest]
  runs-on: ${{ matrix.os }}
  steps:
   - uses: actions/checkout@main
   - name: Check for nix
     id: check_nix
     run: |
      if command -v nix >/dev/null 2>&1; then
        echo "NIX_PRESENT=true" >> $GITHUB_ENV
        echo "present=true" >> $GITHUB_OUTPUT
      else
        echo "NIX_PRESENT=false" >> $GITHUB_ENV
        echo "present=false" >> $GITHUB_OUTPUT
      fi
  
   - uses: DeterminateSystems/nix-installer-action@main
     if: steps.check_nix.outputs.present == 'false'
     with:
       flakehub: false
     
   - uses: DeterminateSystems/magic-nix-cache-action@main
     with:
       use-flakehub: false

   - name: Build Nix Flake
     run: |
      nix --extra-experimental-features "flakes nix-command" flake check
      nix --extra-experimental-features "flakes nix-command" build . -L --show-trace

   - name: Publish
     if: runner.os == 'Linux'
     run: |
       nix --extra-experimental-features "flakes nix-command" build .#docker-image -L --show-trace
       nix --extra-experimental-features "flakes nix-command" run nixpkgs#skopeo -- copy -a docker-archive:./result docker://ghcr.io/${{ github.repository }}:$(git rev-parse --abbrev-ref HEAD)-${{ runner.arch }} --dest-creds=${{ github.actor }}:${{ github.token }}
       mkdir -p ${{ runner.temp }}/digests
       digest=$(nix --extra-experimental-features "flakes nix-command" run nixpkgs#skopeo inspect docker://ghcr.io/${{ github.repository }}:$(git rev-parse --abbrev-ref HEAD)-${{ runner.arch }} | jq -r .Digest)
       touch "${{ runner.temp }}/digests/${digest#sha256:}"

   - name: Upload artifact
     uses: actions/upload-artifact@main
     if: runner.os == 'macOS'
     with:
      name: digests-${{ runner.os }}-${{ runner.arch }}
      path: result
      if-no-files-found: error
      retention-days: 1
