name: Nix Flake ❄️
on:
 workflow_dispatch:
 push:

jobs:
 tests:
  permissions:
   contents: read
   packages: write
   actions: write
  strategy:
   matrix:
    os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest]
  runs-on: ${{ matrix.os }}
  steps:
   - uses: actions/checkout@v5
   - name: Check for nix
     id: check_nix
     run: |
      if command -v nix >/dev/null 2>&1; then
        echo "NIX_PRESENT=true" >> $GITHUB_ENV
        echo "present=true" >> $GITHUB_OUTPUT
      else
        echo "NIX_PRESENT=false" >> $GITHUB_ENV
        echo "present=false" >> $GITHUB_OUTPUT
      fi

   - uses: nixbuild/nix-quick-install-action@v34
     if: steps.check_nix.outputs.present == 'false'
     with:
       nix_conf: |
         keep-env-derivations = true
         keep-outputs = true
     
   - name: Restore and save Nix store
     uses: nix-community/cache-nix-action@v6
     with:
       primary-key: nix-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
       restore-prefixes-first-match: nix-${{ runner.os }}-${{ runner.arch }}
       gc-max-store-size: 10G
       purge: true
       purge-prefixes: nix-${{ runner.os }}-
       purge-created: 0
       purge-last-accessed: 0
       purge-primary-key: never

   - name: Build Nix Flake
     run: |
      nix --extra-experimental-features "flakes nix-command" flake check
      nix --extra-experimental-features "flakes nix-command" build . -L --show-trace

   - name: Build and Push Docker Image
     if: runner.os == 'Linux'
     run: |
      # Build the Docker image
      nix --extra-experimental-features "flakes nix-command" build .#docker-image -L --show-trace
      nix --extra-experimental-features "flakes nix-command" run nixpkgs#skopeo -- copy -a docker-archive:./result docker://ghcr.io/${{ github.repository }}:$(git rev-parse --abbrev-ref HEAD) --dest-creds=${{ github.actor }}:${{ github.token }}
