name: Nix Flake ❄️
on:
 workflow_dispatch:
 push:

jobs:
 build:
  permissions:
   contents: read
   packages: write
   actions: write
  strategy:
   matrix:
    os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest]
  runs-on: ${{ matrix.os }}
  steps:
   - uses: actions/checkout@main
   - name: Check for nix
     id: check_nix
     run: |
      if command -v nix >/dev/null 2>&1; then
        echo "NIX_PRESENT=true" >> $GITHUB_ENV
        echo "present=true" >> $GITHUB_OUTPUT
      else
        echo "NIX_PRESENT=false" >> $GITHUB_ENV
        echo "present=false" >> $GITHUB_OUTPUT
      fi
   - uses: DeterminateSystems/nix-installer-action@main
     if: steps.check_nix.outputs.present == 'false'
     with:
       flakehub: false
     
   - uses: DeterminateSystems/magic-nix-cache-action@main
     with:
       use-flakehub: false

   - name: Build Nix Flake
     run: |
      nix --extra-experimental-features "flakes nix-command" flake check
      nix --extra-experimental-features "flakes nix-command" build . -L --show-trace

   - name: Load docker image
     if: runner.os == 'Linux'
     run: nix --extra-experimental-features "flakes nix-command" build .#docker-image -L --show-trace && docker load < ./result
   
   - name: Upload artifact
     uses: actions/upload-artifact@main
     if: runner.os == 'Linux'
     with:
      name: backend
      path: ${{ runner.temp }}/backend.tar

 publish:
  runs-on: [ubuntu-latest]
  needs: build
  steps:
   - name: Download artifact
     uses: actions/download-artifact@main
     with:
       name: backend
       path: ${{ runner.temp }}
  
   #- name: Build and Push Docker Image
   #  run: |
   #   nix --extra-experimental-features "flakes nix-command" run nixpkgs#skopeo -- copy -a docker-archive:./result docker://ghcr.io/${{ github.repository }}:$(git rev-parse --abbrev-ref HEAD) --dest-creds=${{ github.actor }}:${{ github.token }}
