name: Nix Flake ❄️
on:
 workflow_dispatch:
 push:

jobs:
 build:
  permissions:
   contents: read
   packages: write
   actions: write
  strategy:
   matrix:
    os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest]
  runs-on: ${{ matrix.os }}
  steps:
   - uses: actions/checkout@main
   - name: Check for nix
     id: check_nix
     run: |
      if command -v nix >/dev/null 2>&1; then
        echo "NIX_PRESENT=true" >> $GITHUB_ENV
        echo "present=true" >> $GITHUB_OUTPUT
      else
        echo "NIX_PRESENT=false" >> $GITHUB_ENV
        echo "present=false" >> $GITHUB_OUTPUT
      fi
   - uses: DeterminateSystems/nix-installer-action@main
     if: steps.check_nix.outputs.present == 'false'
     with:
       flakehub: false
     
   - uses: DeterminateSystems/magic-nix-cache-action@main
     if: false
     with:
       use-flakehub: false

   - name: Build Nix Flake
     run: |
      nix --extra-experimental-features "flakes nix-command" flake check
      nix --extra-experimental-features "flakes nix-command" build . -L --show-trace

   - name: Publish
     if: runner.os == 'Linux'
     run: |
       nix --extra-experimental-features "flakes nix-command" build .#docker-image -L --show-trace
       nix --extra-experimental-features "flakes nix-command" run nixpkgs#skopeo -- copy -a docker-archive:./result docker://ghcr.io/${{ github.repository }}:$(git rev-parse --abbrev-ref HEAD)-${{ runner.arch }} --dest-creds=${{ github.actor }}:${{ github.token }}
       mkdir -p ${{ runner.temp }}/digests
       digest=$(nix --extra-experimental-features "flakes nix-command" run nixpkgs#skopeo inspect docker://ghcr.io/${{ env.REGISTRY_IMAGE }}:$(git rev-parse --abbrev-ref HEAD)-${{ runner.arch }} | jq -r .Digest)
       touch "${{ runner.temp }}/digests/${digest#sha256:}"
   
   - name: Upload artifact
     uses: actions/upload-artifact@main
     if: runner.os == 'Linux'
     with:
      name: digests-${{ runner.os }}-${{ runner.arch }}
      path: ${{ runner.temp }}/digests/*
      if-no-files-found: error
      retention-days: 1

 publish:
  runs-on: [ubuntu-latest]
  needs: build
  steps:
    - name: Download digests
      uses: actions/download-artifact@main
      with:
        path: ${{ runner.temp }}/digests
        pattern: digests-*
        merge-multiple: true

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.REGISTRY_IMAGE }}
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}

    - name: Create manifest list and push
      working-directory: ${{ runner.temp }}/digests
      run: |
        docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
          $(printf '${{ github.repository }}:$(git rev-parse --abbrev-ref HEAD)@sha256:%s ' *)

    - name: Inspect image
      run: |
        docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}
